@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 30 5% 97%;
  --fg: 0 0% 26%;
}

body {
  @apply bg-bg text-fg;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}
